* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #00045c;
    background-image: url('./assets/BG.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.nav {
    position: absolute;
    z-index: 5;
    background-color: #050613;
    top: 0;
    height: 100%;
    width: 0;
    transition: 1s linear;
}

a {
    color: white;
    text-decoration: none;
    padding: 20px;
    
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.modal {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}


.full {
    position: absolute;
    background-image: url('./assets/s1.png'), url('./assets/s2.png'), url('./assets/s3.png');
    height: 100%;
    width: 100%;
    background-size: 200px;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}
@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 400px 1000px, 200px 400px, 100px 300px;
    }
}
@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

.side_bar {
    display: flex;
    background-color: #C8FA82;
    padding: 15px;
    color: #02089c;
    font-family: Sans-Serif;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
}

.logo {
    opacity: 0.9;
    padding-top: 60px;
}

.field_num {
    width: 330px;
    height: 110px;
    margin: 0 auto;
    margin-top: 90px;
}

.input_num {
    width: 330px;
    height: 100px;
    font-size: 40px;
    border: none;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-color: #33344a;
    box-shadow: 2px 1px 3px 0 white inset;
    color: #C8FA82;
    font-family: Monospace;
    text-shadow: 0px 0px 2px #C8FA82;
    opacity: 0.8;
    margin: 0 auto;
    margin-top: 2px;
}

@keyframes anim {
    0% {
        background-color: #02089c;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: #02089c;
    }
}

.operations {
    width: 330px;
}

.operate {
    width: 80px;
    height: 60px;
    background-color: #C8FA82;
    font-size: 30px;
    opacity: 0.9;
    border: solid 0.5px #050613;
    transition: 0.2s linear;
    margin-bottom: 6px;
}

.operate:hover {
    width: 100px;
    height: 60px;
}

#clear {
    font-size: 15px;
    width: 100px;
    border-radius: 0 100% 100% 0;
}

#clear2 {
    font-size: 20px;
    width: 100px;
    border-radius: 100% 0 0 100%;
}

.keys {
    width: 330px;
    height: 100%;
    margin: 0 auto;
}

.key {
    width: 96px;
    height: 95px;
    font-size: 30px;
    font-family: Monospace;
    background-color: #050613;
    color: #C8FA82;
    border: none;
    margin: 0 auto;
    margin-bottom: 3px;
    border-radius: 30%;
    transition: 0.1s linear;
    opacity: 0.9;
    box-shadow: 0.5px 0.7px 2px 0 white inset;
}

.key:hover {
    transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    border-radius: 100%;
    width: 80px;
    height: 80px;
    animation: b 0.4s alternate infinite;
}

@keyframes b {
    0% {
        transform: translateY(0);
        border-radius: 100% 100% 60% 60%;
    }
    100% {
        transform: translateY(-30px);
    }
}

ul {
    display: flex;
    align-items: center;
    margin: 0 auto;
}


#btn_2 {
    border-bottom-left-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    -webkit-border-bottom-left-radius: 50px;

}

#btn_4 {
    border-bottom-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    -webkit-border-bottom-right-radius: 50px;

}
